body {
    background-color: #FDFD96;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    counter-reset: movieList;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Abril Fatface', serif;

}  
h1 {
    font-size: 24pt;  
}

h2 {
    font-size: 18pt;
}
h3 {
    font-size: 16pt;
    padding: 10px 10px;
}

p {
    font-size: 14pt;
    padding: 10px 10px;
    white-space: normal;
}
li {
    font-size: 12pt;
}

#navBar {
    list-style-type: none; 
    padding: -100px 0px 0px 0px;
    position: relative;
    width: 100%;
    top: 0px;
    z-index: 1;
    height: 90px;
    text-align: right;
  }

#navBar ul li:hover {
    background-color: white;
}

#navBar li {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    border: none;
    font-size: 14pt;
    font-weight: 400;
    text-align: center;
    display: inline-block;
    width: 40px;  
    padding: 35px 10px;
    width: 80px;
    height: 20px
}
#navBar h1 {
    float: left;
    height: 40px;
    padding: 25px;
}

#firstQuote {
    font-style: italic;   
    text-align: center;
    position: relative;
    padding: 10px;
    margin: 10px;
    top: 20px;
    background-color: transparent;
} 

.poem {
    widows: 300px;
    position: relative;
    display: inline-block;
}