body {
    background: linear-gradient(to top left, #508CCC 0%, #ccffff 100%);
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    counter-reset: movieList;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Abril Fatface', serif;

}  
h1 {
    font-size: 22pt;  
}

h2 {
    font-size: 18pt;
}
h3 {
    font-size: 18pt;
    padding: 10px 10px;
}

p {
    font-size: 12pt;
    padding: 10px 10px;
    white-space: normal;
}
li {
    font-size: 12pt;
}

#navBar {
    background-color: #FF867D; 
    list-style-type: none; 
    padding: -100px 10px 10px 10px;
    position: fixed;
    width: 100%;
    top: 0px;
    z-index: 10;
    vertical-align: middle;
  }

#title {
    height: auto;
    max-width: 20%;
    padding: 7px 0px 5px 20px;
    float: left;
    line-height: 100px;
}

#navBar ul li {
    font-size: 14pt;
    font-weight: 400;
    padding: 20px;
    text-align: right;
    float: right;
    line-height: 80px;
}


#navBar ul li:hover {
    background-color: lightgrey;
}

#cover {
    width: 100vw;
    height: 100vh;
    padding-top: 200px;
    text-align: center;
    display: block;
    position: fixed;
}
#yesquestions {
    position: absolute;
    left: 33vw;
    top: 50vh;
    height: 100px;
    width: 150px;
}

#noquestions {
    position: absolute;
    right: 33vw;
    top: 50vh;
    height: 100px;
    width: 150px;
}
main div {
    background: #F2FF96;
}

#firstQuote {
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;   
    text-align: center;
    position: relative;
    padding: 10px;
    margin: 10px;
    top: 120px;
    background-color: transparent;
} 

#target, #firstPic, #doing {
    width: 35%;
    padding: 10px;
    margin: 10px;
    position: relative;
    line-height: 1.5em;
}

#target {
    top: 150px;
    left: 100px;
}

#firstPic {
    left: 775px;
    top: -135px;
    width: 40%;
}
#doing {
    top: -350px;
    left: 100px;
}
#actualPic {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    max-width: 50%;
}

#listOne {
    width: 300px;           
    /* border: solid black 3px;  */ 
    padding: 10px;
    margin: 10px;
}

#listOne ol li::before {
    counter-increment: movieList;
    content: counter(movieList) ": ";
}

#listOne h3 {
    text-align: center;
}

