body {
    background: lightblue;
    font-family: 'Trebuchet MS', Helvetica, sans-serif;
    counter-reset: movieList;
}

h1 {
    font-size: 22pt;
}

h2 {
    font-size: 18pt;
}
h3 {
    font-size: 18pt;
    font-family: 'Proza Libre', sans-serif;
    font-weight: 550;   
    padding: 10px 10px;
}

p {
    font-size: 12pt;
    font-family: 'DM Sans', sans-serif;
    padding: 10px 10px;
    white-space: normal;
}
li {
    font-size: 12pt;
}
.nav {
    background-color: grey; 
    list-style-type: none;
    text-align: left; 
    padding: 10px   ;
    margin: 0px 0px 10px 0px;
    position: fixed;
    width: 100vw;
  }

.nav li {
    display: inline-block;
    text-align: center;
    padding: 20px 20px;
}
.nav li:hover {
    background-color: lightgrey;
}

#firstQuote {
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    border: 0px;    
    padding-top: 100px; 
    text-align: center;
} 

#cover {
    width: 100vw;
    height: 100vh;
    padding-top: 200px;
    text-align: center;
    display: block;
}
#yesquestions {
    position: absolute;
    left: 33vw;
    top: 50vh;
    height: 100px;
    width: 150px;
}

#noquestions {
    position: absolute;
    right: 33vw;
    top: 50vh;
    height: 100px;
    width: 150px;
}

#target, #firstPic, #doing {
    width: 47%;
    /* border: solid black 3px;  */
    padding: 10px;
    margin: 10px;
    position: relative;
    line-height: 1.5em;
}

#target {
    top: 30px;
}

#firstPic {
    left: 750px;
    top: -200px;
}
#doing {
    top: -550px;
}
#actualPic {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    max-width: 50%;
}

#listOne {
    width: 300px;           
    /* border: solid black 3px;  */ 
    padding: 10px;
    margin: 10px;
}

#listOne ol li::before {
    counter-increment: movieList;
    content: counter(movieList) ": ";
}

#listOne h3 {
    text-align: center;
}body {
    background: lightblue;
    font-family: 'Trebuchet MS', Helvetica, sans-serif;
    counter-reset: movieList;
}

h1 {
    font-size: 22pt;
}

h2 {
    font-size: 18pt;
}
h3 {
    font-size: 18pt;
    font-family: 'Proza Libre', sans-serif;
    font-weight: 550;   
    padding: 10px 10px;
}

p {
    font-size: 12pt;
    font-family: 'DM Sans', sans-serif;
    padding: 10px 10px;
    white-space: normal;
}
li {
    font-size: 12pt;
}
.nav {
    background-color: grey; 
    list-style-type: none;
    text-align: left; 
    padding: 10px   ;
    margin: 0px 0px 10px 0px;
    position: fixed;
    width: 100vw;
  }

.nav li {
    display: inline-block;
    text-align: center;
    padding: 20px 20px;
}
.nav li:hover {
    background-color: lightgrey;
}

#firstQuote {
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    border: 0px;    
    padding-top: 100px; 
    text-align: center;
} 

#cover {
    width: 100vw;
    height: 100vh;
    padding-top: 200px;
    text-align: center;
    display: block;
}
#yesquestions {
    position: absolute;
    left: 33vw;
    top: 50vh;
    height: 100px;
    width: 150px;
}

#noquestions {
    position: absolute;
    right: 33vw;
    top: 50vh;
    height: 100px;
    width: 150px;
}

#target, #firstPic, #doing {
    width: 47%;
    /* border: solid black 3px;  */
    padding: 10px;
    margin: 10px;
    position: relative;
    line-height: 1.5em;
}

#target {
    top: 30px;
}

#firstPic {
    left: 750px;
    top: -200px;
}
#doing {
    top: -550px;
}
#actualPic {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    max-width: 50%;
}

#listOne {
    width: 300px;           
    /* border: solid black 3px;  */ 
    padding: 10px;
    margin: 10px;
}

#listOne ol li::before {
    counter-increment: movieList;
    content: counter(movieList) ": ";
}

#listOne h3 {
    text-align: center;
}
